body {
  font-family: var(--font-common);
  font-size: 20px;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: inset 0rem 0rem 0.5rem gray;
  padding: 1rem;
  margin: 0.5rem;
}

.avatar-with-badge,.icon-with-badge{
    margin: .5rem 1rem;
}

.container-head {
  margin: 0rem 1rem;
}

.avatar-with-badge {
  text-align: center;
  position: relative;
  height: 3rem;
  width: 3rem;
}

.icon-with-badge {
  text-align: center;
  position: relative;
  height: 2.3rem;
  width: 2.3rem;
}

.avatar-with-badge img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.badge-avatar {
  bottom: -0.2rem;
  right: -0.2rem;
}

.badge-icon {
  font-size: 0.8rem;
  top: -0.2rem;
  right: -0.3rem;
}

.icon-with-badge span {
  font-size: 2.3rem;
}

.badge {
  color: white;
  position: absolute;
  background-color: rgb(120, 120, 240);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: white 2px solid;
}
