<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc | Image</title>
    <link rel="stylesheet" href="image.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2 class="container-head">Avatar</h2>
    <div class="image-container">
      <div class="img-div img-rectangle" style="height: auto; width: 100%">
        <img src="https://picsum.photos/500/250" />
      </div>
      <div class="img-div img-circle" style="height: auto; width: 50%">
        <img src="https://picsum.photos/250" />
      </div>
    </div>
  </body>
</html>
