body{
    font-family: "Quicksand", sans-serif;
}

.modal-container{
    
  border-radius: 1rem;
  box-shadow: inset 0rem 0rem 0.5rem gray;
  padding: 1rem;
  margin: 0.5rem;
}

.modal{
    background-color: rgb(183, 235, 255);
    border-radius: 1rem;
    width: 30rem;
    height: 13rem;
    text-align: center;
    border: 3px rgb(60, 63, 231) solid;
    box-shadow: .5rem .5rem 1rem .3rem rgba(0, 0, 0, 0.253);
    margin: auto;
}

.modal h3{
    margin: 0rem;
    padding: 2.3rem 3rem;
    font-family: "Quicksand", sans-serif;
}