body{
    font-family: "Quicksand", sans-serif;
}

.grid-container{
    border-radius: 1rem;
  box-shadow: inset 0rem 0rem 0.5rem gray;
  padding: 1rem;
  margin: 0.5rem;
}
.grid-container h2{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}


.grid-2-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.grid-3-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.grid-2-items div, .grid-3-items div{
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

.grid-2-items :first-child{
    background-color: skyblue;
}

.grid-2-items :last-child{
    background-color: yellowgreen;
}

.grid-3-items :first-child{
    background-color: violet;
}
.grid-3-items :nth-child(2){
    background-color: rgb(123, 197, 108);
}
.grid-3-items :last-child{
    background-color: rgb(252, 221, 138);
}