@import "../style.css";

.content{
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 14rem 1fr;
}

.sidebar-nav{
    grid-area: sidebar;
}

.main{
    grid-area: main;
    background-color: rgb(246, 247, 249);
}

.sidebar-nav{
    display: unset;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: rgb(246, 247, 249);
}

.sidebar-nav h3{
    padding-left: 2rem;
    margin: 1.2rem 0rem;
}

.sidebar-nav ul{
    padding-left: 0rem;
    list-style-type: none;
}

.sidebar-nav a{
    text-decoration: none;
    display: block;
    border-radius: .5rem;
    width: 9rem;
    padding: .5rem 1rem;
    margin: .2rem 1rem;
}

.sidebar-nav a:hover{
    background-color: rgb(224, 209, 209);
}

.inst h3{
    margin: 1rem 0rem 0rem 1rem;
}

.inst p{
 margin: .5rem 0rem 1rem 1rem;
}

iframe{
    display: block;
    margin: auto;
    width: auto;
}

footer{
    margin-top: 0rem;
}
