<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc | Alert</title>
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Alert</h2>
    <div class="alert-container">
        <div class="alert alert-primary">
            A Primary alert.
            <button class="close-btn">
                <span class="material-icons-outlined">
                    close
                </span>
            </button> 
        </div>
        <div class="alert alert-secondary">
            A Secondary alert. 
            <button class="close-btn">
                <span class="material-icons-outlined">
                    close
                </span>
            </button>
        </div>
        <div class="alert alert-success">
            <span class="material-icons-outlined">
                check
            </span>
            A Success alert.
            <button class="close-btn">
                <i><span class="material-icons-outlined">close</span></i>
            </button>
        </div>
        <div class="alert alert-warning">
            <span class="material-icons-outlined">
                error_outline
            </span>
            A Warning alert !
            <button class="close-btn">
                <i><span class="material-icons-outlined">close</span></i>
            </button> 
        </div>
        <div class="alert alert-danger">
            <span class="material-icons-outlined">
                warning
            </span>
            A Danger alert !!
            <button class="close-btn">
                <i><span class="material-icons-outlined">close</span></i>
            </button>
        </div>
    </div>
</body>
</html>